<style>
  .full-width-image {
    width: 100vw; 
    height: auto; 
    margin-left: calc(-50vw + 50%); 
  }
</style>

{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Full-width Image Section -->

<div class="container text-center my-5">
  <h2>Welcome to Simple Ticketing</h2>
  <p>Discover the best events around you and book your tickets today!</p>
  <p>Check out our amazing events by clicking the button below.</p>
  <a href="{{ url_for('app.browse_events') }}" class="btn btn-primary mt-3">Browse Events</a>
</div>
<div>
  <img src="../src/test.jpg" class="full-width-image" alt="Your Image Description">
</div>
{% endblock %}