{% extends 'layout.html' %}

{% block title %}My Booking{% endblock %}

{% block content %}
<div class="container col-md-6 mx-auto my-5">
  <h2 class="mb-4">Check Your Bookings</h2>

  <!-- Display Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert alert-danger">
        {% for category, message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form method="GET" action="{{ url_for('app.my_booking_check') }}">
    <div class="mb-3">
      <label for="email" class="form-label">Enter Your Email Address</label>
      <input type="email" class="form-control form-control-lg" id="email" name="email" required placeholder="you@example.com">
      <div class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>
    <button class="btn btn-primary btn-lg w-100" type="submit">Check My Bookings</button>
  </form>
</div>
{% endblock %}