{% extends 'layout.html' %}

{% block title %}My Booking{% endblock %}

{% block content %}
<div class="container col-md-6 mx-auto my-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ride Route</th>
        <th scope="col">Price</th>
        <th scope="col">State</th>
        <th scope="col">Date</th>
        <th scope="col">Operate</th>
      </tr>
    </thead>
    <tbody>
      {% for item in list %}
      <tr>
        <th>{{ item.name }}</th>
        <th>${{ item.price }}</th>
        <th>{{ order_state[item.state] }}</th>
        <th>{{ item.datestr }}</th>
        <th>
          <button class="btn btn-primary btn-sm" onclick="onView({{ item.id }}, {{ item.state }})">
            <i class="bi bi-eye"></i> View
          </button>
          <button class="btn btn-danger btn-sm" onclick="onDelete({{ item.id }})">
            <i class="bi bi-trash"></i> Delete
          </button>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}