{% extends 'layout.html' %}

{% block title %}Ticket Availability{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mb-4">Ticket Availability for Event</h2>

  <ul class="list-group">
    {% for ticket in tickets %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>{{ ticket.date }} - {{ ticket.time_slot }}</span>
      <span>Amount available: {{ticket.available_tickets}}</span>
      <span class="{% if ticket.available_tickets > 0 %}text-success{% else %}text-danger{% endif %}">
        {% if ticket.available_tickets > 0 %}Available{% else %}Sold Out{% endif %}
      </span>
      <!-- Book Now button to pass ticket_id -->
      <a href="{{ url_for('payment', ticket_id=ticket.id) }}" 
         class="btn {% if ticket.available_tickets > 0 %}btn-primary{% else %}btn-secondary disabled{% endif %}"
         {% if ticket.available_tickets == 0 %}disabled{% endif %}>
        {% if ticket.available_tickets > 0 %}Book Now{% else %}Sold Out{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}